<link rel="stylesheet" href="/stylesheet.css">
</br>

	<center><h1>-----> La Page By Rosa<------</h1></center>

	</br>
	</br>

	<center><img src="http://www.lefigaro.fr/medias/2012/06/08/7aa85eac-b13d-11e1-9049-06b6c95dc84f-493x325.jpg" width="970" height="300"alt=""></center></br>
	
	</br>
	</br>
	</br>

<div id="menu">
</br>
</br>
<h2>Menu</h2>
</br>
</br>
<div id="composantesdumenu">
<ul>
<li><a href="https://www.google.fr/">Google</a></li>
</br>
<li><a href="https://www.youtube.com/">Youtube</a></li>
</br>
<li><a href="https://www.facebook.com/">Facebook</a></li>
</br>
<li><a href="/form">Inscription</a></li>
</br>
<li><a href="/liens">Liens</a></li>
</ul>
</div>
</div>
 
<div id="videoyoutube">
<iframe width="500" height="400" src="//www.youtube.com/embed/Oiov0L4blIw" frameborder="0" allowfullscreen></iframe>
</div>
<div id="para">
<p>	Bienvenue sur mon nouveau blooooooog !!!</p>
<p> Comme à chaque fois, la première semaine, il y a toujours des bugs. Surtout, soyez patients, un nouveau site prend du temps à se propager, parfois jusqu’à 24h.
Pour que ça aille plus vite, vous pouvez vider le cache de votre navigateur.</p>
</div>

