<center> <h1>FORMULAIRE</h1></center>
<p><form action="/form" method="post" accept-charset="utf-8"></p>
	<p><input type="text" name="nom" placeholder="nom"></p>
	<p><input type="text" name="prenom" placeholder="prenom"></p>
	<p><input type="text" name="age" placeholder="age"></p>
	<p><input type="text" name="adresse" placeholder="adresse"></p>
	<p><textarea></textarea></p>
	<p><input type="submit" value="envoyer"></p>
	</form>

	