<h1>LES LIENS </h1>
<ol>
<li><a href="https://www.wikipedia.org/">Wikipedia</a></li>
<li><a href="http://www.lemonde.fr/">Le Monde</a></li>
<li><a href="http://www.leparisien.fr/">Le Parisien</a></li>
<li><a href="http://www.journaldugeek.com/">Le Journal De Geek</a></li>
<li><a href="http://guides.rubyonrails.org/">Railsguides.org</a></li>
</ol>

